
<%- include('./parts/file_header.ejs')%>
<link rel="stylesheet" href="../styles/user/user.css">
</head>
<body>
    <h1 class="user_window_title">Список змін</h1>

    <div class="change_wrapper">
        <p class="change_date">Липень 13, 2023 </p>

        <p class="change_text change_subtitle">0.0.1</p>

        <ul class="change_list">
            <li class="change_list_item change_text">Є можливість додавання нових груп, задач та підзадач.</li>
            <li class="change_list_item change_text">Був доданий список змін.</li>
            <li class="change_list_item change_text">Додана можливість вибору дати та часу виконання завдань.</li>
            <li class="change_list_item change_text">Видалення завдань, після їх виконання.</li>
        </ul>
    </div>
    <div class="change_wrapper">
        <p class="change_date">Липень 20, 2023 </p>

        <p class="change_text change_subtitle">0.0.2</p>

        <ul class="change_list">
            <li class="change_list_item change_text">Виправленні помилки, минулої версії.</li>
            <li class="change_list_item change_text">Тепер є можливість переглянути усі свої завдання, з різних груп.</li>
            <li class="change_list_item change_text">Тепер ви не можете додати завдання на одну годину та дату.</li>
            <li class="change_list_item change_text">Ви можете видаляти непотрібні групи завдань.</li>
        </ul>
    </div>
</body>
<%- include('./parts/end.ejs')%>
</html>
