<%- include("./parts/file_header.ejs")%>
<link rel="stylesheet" href="../styles/error/error.css">
<body>
    <div class="wrapper">
        <div class="error_head">
            <h2 class="error_title">ERROR</h2>
            <h2 class="error_title">404</h2>
        </div>
        <img src="../images/error_page/error2.gif" width="300px" height="300px" class="error_img" alt="">
        <div class="error_foot">
            <a href="/0" class="error_title">Повернутись на головну</a>
        </div>
    </div>
</body>
</html>