<%- include('./parts/file_header.ejs')%>
<link rel="stylesheet" href="../../styles/nullystyle/nullystyle.css">
<link rel="stylesheet" href="../styles/login.css">
<link rel="stylesheet" href="../styles/faile.css">
<link rel="stylesheet" href="../styles/forget_password.css">
<body>

    <a href="/log" class="back_link"><img src="../images/icons/to_last_page.svg" alt=""></a>

    <div class="fail_wrapper" id="fail_wrapper">
        <p id="fail_error"><%- add_work_fail.error %></p>
    </div>

    <div class="forget_password">

        <div class="screen_forget" id="screen_forget">
            <h1 class="login_title">Забули пароль</h1>
            <form method="post" class="form_wrap" id="forget_password_email_send">
                <div class="input_wrap">
                    <div class="input_items">
                        <label for="forget_password_email" class="form_input_label">Введіть вашу пошту</label>
                        <input type="email" class="form_input" name="email" minlength="3" id="forget_password_email">
                    </div>
                </div>
                <button type="submit" class="sub_btn">Надіслати</button>
            </form>
        </div>

        <div class="screen_forget">
            <h2 class="login_title">Введіть 6 значний код<br> надісланий вам на пошту</h2>
            <form method="post" class="form_wrap" id="verification_code">
                <div class="input_wrap">
                    <div class="input_items">
                        <div class="form_input_label forget_password_inputs_wrapper">
                            <input type="text" class="form_input reset_inputs" minlength="0" maxlength="1" name="blabla" required>
                            <input type="text" class="form_input reset_inputs" minlength="0" maxlength="1" name="blabla" required>
                            <input type="text" class="form_input reset_inputs" minlength="0" maxlength="1" name="blabla" required>
                            <input type="text" class="form_input reset_inputs" minlength="0" maxlength="1" name="blabla" required>
                            <input type="text" class="form_input reset_inputs" minlength="0" maxlength="1" name="blabla" required>
                            <input type="text" class="form_input reset_inputs" minlength="0" maxlength="1" name="blabla" required>
                        </div>
                    </div>
                </div>
                <div class="button_wrapper">
                    <button type="button" class="sub_btn check_email" id="check_email">Перевірити пошту</button>
                    <button type="submit" class="sub_btn">Далі</button>
                </div>
            </form>
        </div>

        <div class="screen_forget">
            <h2 class="login_title">Змінити пароль</h2>
            <form method="post" class="form_wrap" id="change_password">
                <div class="input_wrap">
                    <div class="input_items">
                        <label for="" class="form_input_label">Введіть пароль</label>
                        <input type="text" class="form_input change_password" name="password">
                        <label for="" class="form_input_label">Підтвердження паролю</label>
                        <input type="text" class="form_input change_password">
                    </div>
                </div>
                <button type="submit" class="sub_btn">Змінити</button>
            </form>
        </div>

    </div>
    <script src="../scripts/forget_pass/forget_pass_script.js"></script>
    <script src="../scripts/forget_pass/reset_input_switcher.js"></script>

</body>
</html>