<%- include('./parts/file_header.ejs')%>
<link rel="stylesheet" href="../styles/user/user.css">
</head>
<body>
    <%- include("./parts/header.ejs")%>

    <div class="user_wrapper">
        <a href="/exit">Вийти</a>
    </div>

    <%- include("./parts/navigation_bar/nav.ejs")%>
</body>
<%- include('./parts/end.ejs')%>
</html>