.group_wrapper{
    display: flex;
    padding-left: 22px;
    margin-top: 106px;
    margin-bottom: 61px;
}

.group_wrapper .group_item_img{
    margin-right: 14px;
    cursor: pointer;
}

.group_wrapper .filter_items{
    position: absolute;
    top: -50%;
    left: 50px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transform: scale(0);
    transform-origin: top;
    padding: 12px;
    border-radius: 4px;
    transition-property: transform;
    max-height: 100px;
    overflow-y: scroll;
    /*transition: .8s;*/
}

.group_wrapper .filter_show{
    transform: scaleY(1);
    z-index: 1;
}

.group_wrapper .filter_items .filter_item{
    font-size: 13px;
}

.group_wrapper .filter_items .filter_item:not(:first-child){

    margin-top: 6px;
}

.group_wrapper .group_items{
    display: flex;
    align-items: flex-start;
    overflow: scroll;
    border-radius: 3px;
}

.group_wrapper .group_items .group_item{
    display: block;
    padding: 4px 20px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 23px;
    margin-right: 14px;
    cursor: pointer;
    order: 1;
    transition: .2s;
}

.group_wrapper .group_items .active{
    background: #000;
    order: 0;
}

.group_wrapper .group_items .group_item .group_text{
    white-space: nowrap;
}

.group_wrapper .group_items .active .group_text{
    color: #ffff;
}


/* Work style */

.work_wrapper .work_items{
    max-height: 65vh;
    overflow-y: scroll;
}

.work_wrapper .work_items .work_item{
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 0 14px;
    padding-left: 22px;
    margin-top: 8px;
    overflow: scroll;
}

.work_wrapper .work_items .work_item .work_time{
    padding-right: 14px;

}

/* Checkbox styles */


.sub_work_items{
    transform: scaleY(0);
    height: 0;
    padding: 0;
    margin: 0;

    transition-property: transform, padding;
    transition-duration: .7s, .9s;
}

.opened{
    transform: scaleY(1);
    height: 100%;

    padding-left: 70px;
    padding-bottom: 5px;
}

.opened .sub_work_item{
    margin-top: 15px;
    cursor: pointer;
}

.sub_work_title{
    font-weight: 300;
    line-height: 12px;
}

.check_wrapper{
    position: relative;
}

.input_checkbox {
    position: absolute;
    top: -12.5px;
    right: 10px;
    z-index: 2;
    width: 15px;
    height: 15px;
    border: none;
    opacity: 0;
    outline: none;
    cursor: pointer;
}

.checkbox_uncheck {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -12.5px;
    right: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    background: #ffff;
    border-radius: 2px;
}

.checkbox_check{
    background-color: #000;
    background-image: url('../../images/icons/checkbox_arrow.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    text-decoration: overline;
}

.checkbox_check_text{
    text-decoration: line-through;
}


.delete_submit{
    display: inline-block;
    padding: 4px 8px;
    margin-top: 21px;
    cursor: pointer;
    background: #000;
    color: #ffffff;
    border-radius: 4px;
}

.work_date{
    padding-left: 22px;
    margin-bottom: 22px;
    font-weight: 600;
}

.work_date:not(:first-child){
    margin-top: 50px;
}
