
.nav_block {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
    border-top: 1px solid #D6D6D6;
}

.nav_block .nav_list-items a
{
    display: block;
}

.nav_block .nav_list-items
{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 16px 27px 14px 27px;
}

.nav_block .nav_list-items .nav_list-link{
    background: none;
    cursor: pointer;
}

.nav_block .nav_list-items .nav_list-add{
    border: 1px solid #000000;
    background: #ffff;
    cursor: pointer;
    padding: 0 13px;
}

.nav_block .nav_list-items .add_active{
    background: #000000;
}

.nav_block .nav_list-items .nav_list-add .nav_list-add_img{
    display: none;
}

.nav_block .nav_list-items .nav_list-add .show_cross{
    display: block;
}

#add_task_btn{
    border-radius: 6px;
}


/* Add block style */

.add_block{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: calc(100vh - 59px);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
}

.show_add_block{
    display: block;
}

.add_block .add_block_items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    border-radius: 20px 20px 0 0;
    background: #f8f8f8;
}

.add_block .add_block_items .add_block_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_block .add_block_items .add_block_item .add_task_input::placeholder{
    opacity: 1;
    font-weight: 200;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper {
    display: flex;
    align-items: center;
}

.add_block .add_block_items .add_block_item .add_task_input{
    width: 90%;
    border-radius: 6px;
    border: 2px solid #000000;
    padding: 6px 0 6px 8px;
}

.add_block .add_block_items .add_block_item .add_task_input::placeholder{
    opacity: 1;
    color: black;
    font-weight: 200;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper{
    display: flex;
    justify-content: space-between;
    min-width: 328px;
    margin-top: 17px;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap{
    position: relative;
    top: 0;
    left: 0;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap .category_choose-items{
    display: block;
    z-index: 0;
    width: 129px;
    /*padding: 8px 0 0 12px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    padding-left: 20px;*/
    border-radius: 4px;
    background: none;
    border: none;
    outline: none;
    appearance: none;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap .category_choose-items .category_choose-title{
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 20px;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap .category_choose-items .category_choose-item{
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 8px;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap .category_btn{
    position: relative;
    z-index: 1;
    font-size: 13px;
    margin-right: 20px;
    cursor: pointer;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .btn_wrap{
    margin-right: 25px;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .btn_wrap .btn_ico{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .add_submit{
    display: inline-block;
    padding: 4px 8px;
    color: #ffff;
    background: #000000;
    border-radius: 3px;
    cursor: pointer;
}


.no_active_icon{
    display: none;
}
.nav_block {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
    border-top: 1px solid #D6D6D6;
}

.nav_block .nav_list-items a
{
    display: block;
}

.nav_block .nav_list-items
{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 16px 27px 14px 27px;
}

.nav_block .nav_list-items .nav_list-link{
    background: none;
    cursor: pointer;
}

.nav_block .nav_list-items .nav_list-add{
    border: 1px solid #000000;
    background: #ffff;
    cursor: pointer;
    padding: 0 13px;
}

.nav_block .nav_list-items .add_active{
    background: #000000;
}

.nav_block .nav_list-items .nav_list-add .nav_list-add_img{
    display: none;
}

.nav_block .nav_list-items .nav_list-add .show_cross{
    display: block;
}

#add_task_btn{
    border-radius: 6px;
}


/* Add block style */

.add_block{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height:  calc(100vh - 59px);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
}

.show_add_block{
    display: block;
}

.add_block .add_block_items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    border-radius: 20px 20px 0 0;
    background: #f8f8f8;
}

.add_block .add_block_items .add_block_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_block .add_block_items .add_block_item .add_task_input::placeholder{
    opacity: 1;
    font-weight: 200;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper {
    display: flex;
    align-items: center;
}

.add_block .add_block_items .add_block_item .add_task_input{
    width: 90%;
    border-radius: 6px;
    border: 2px solid #000000;
    padding: 6px 0 6px 8px;
}

.add_block .add_block_items .add_block_item .add_task_input::placeholder{
    opacity: 1;
    color: black;
    font-weight: 200;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper{
    display: flex;
    justify-content: space-between;
    min-width: 328px;
    margin-top: 17px;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap{
    position: relative;
    top: 0;
    left: 0;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap .category_choose-items{
    display: block;
    z-index: 0;
    width: 129px;
    /*padding: 8px 0 0 12px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);*/
    padding-left: 20px;
    border-radius: 4px;
    background: none;
    border: none;
    outline: none;
    appearance: none;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap .category_choose-items .category_choose-title{
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 20px;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap .category_choose-items .category_choose-item{
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 8px;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .category_wrap .category_btn{
    position: relative;
    z-index: 1;
    font-size: 13px;
    margin-right: 20px;
    cursor: pointer;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .btn_wrap{
    margin-right: 25px;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .btn_wrap .btn_ico{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.add_block .add_block_items .add_block_item .add_task-btn_wrapper .add_submit{
    display: inline-block;
    padding: 4px 8px;
    color: #ffff;
    background: #000000;
    border-radius: 3px;
    cursor: pointer;
}


.no_active_icon{
    display: none;
}