.group_input-wrapper{
    display: flex;
    max-height: 21px;
}

.group_input-wrapper button{
    background: none;
}

.group_input-wrapper button img{
    width: 21px;
}

.group_input{
    max-height: 21px;
    width: 15px;
}