<div class="nav_block">
    <div class="nav_list-items">

        <a href='/<%- opened_group%>' class="nav_list-link">
                    <img src="../../images/navigation_block/home_noactive.svg" alt="" class="nav_list-img">
                    <img src="../../images/navigation_block/home_active.svg" alt="" class="nav_list-img no_active_icon">
                </a>
        <a href="/search/<%- opened_group%>" class="nav_list-link">
                    <img src="../../images/navigation_block/search_noactive.svg" alt="" class="nav_list-img">
                    <img src="../../images/navigation_block/search_active.svg" alt="" class="nav_list-img no_active_icon">
                </a>

        <button class="nav_list-add" id="add_task_btn">
            <img src="../../images/navigation_block/add_noactive.svg" alt="" class="nav_list-add_img show_cross">
            <img src="../../images/navigation_block/add_active.svg" alt="" class="nav_list-add_img">
        </button>

        <a href="/notification/" class="nav_list-link">
            <img src="../../images/navigation_block/notification_noactive.svg" alt="" class="nav_list-img">
            <img src="../../images/navigation_block/notification_active.svg" alt="" class="nav_list-img no_active_icon">
        </a>
        <a href="/user/" class="nav_list-link">
            <img src="../../images/navigation_block/user_noactive.svg" alt="" class="nav_list-img">
            <img src="../../images/navigation_block/user_active.svg" alt="" class="nav_list-img no_active_icon">
        </a>
    </div>
</div>