
.context_menu-wrapper{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(252, 252, 252);
    box-shadow: 2px 1px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
}

.context_menu-wrapper .context_menu-items:not(:last-child){
    margin-bottom: 5px;
}

.context_menu-wrapper .context_menu-items .context_menu-text{
    font-size: 13px;
}

#groups_contextmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.context_menu-wrapper{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(252, 252, 252);
    box-shadow: 2px 1px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
}

.context_menu-wrapper .context_menu-items:not(:last-child){
    margin-bottom: 5px;
}

.context_menu-wrapper .context_menu-items .context_menu-text{
    font-size: 13px;
}