* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: #000000;
}

button{
    border: none;
    outline: none;
}

body{
    height: 100svh;
    width: 100vw;
}

input, input::placeholder{
    outline: none;
    border: none;
    font-size: 13px;
    border-radius: 6px;
    color: #000000;
}
input::placeholder{
    font-weight: 300;
}

.input_wrap{
    display: inline-flex;
    flex-direction: column;
}

ul,li{
    list-style: none;
}

h1, h2{
    font-weight: 500;
}

h1{
    font-size: 30px;
} 
h2{
    font-size: 28px;
}
h3{
    font-size: 20px;
    font-weight: 500;
}




.wrapper{
    max-width: 100vw;
    overflow: hidden;
}

.icon
{
    width: 25px;
    height: 25px;
}

.group_text{
    font-size: 12px;
    line-height: 15px;
}
