<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../../styles/nullystyle/nullystyle.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/navigation/nav.css">
    <link rel="stylesheet" href="../../styles/navigation/nav_add.css">
    <link rel="stylesheet" href="../../styles/navigation/nav_add_sub_task.css">
    <link rel="stylesheet" href="../../styles/nullystyle/context_menu.css">
    <!--<link rel="stylesheet" href="../../styles/add_group_input.css">-->
    <link rel="stylesheet" href="../../styles/group/group_input.css">
    <link rel="stylesheet" href="../../styles/faile.css">
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../../styles/nullystyle/nullystyle.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/navigation/nav.css">
    <link rel="stylesheet" href="../../styles/navigation/nav_add.css">
    <link rel="stylesheet" href="../../styles/navigation/nav_add_sub_task.css">
    <link rel="stylesheet" href="../../styles/nullystyle/context_menu.css">
    <!--<link rel="stylesheet" href="../../styles/add_group_input.css">-->
    <link rel="stylesheet" href="../../styles/group/group_input.css">
>>>>>>> be1f08286f776017f636dcbb98159e70aaf72780
