
<!--<%- include("./fail.ejs")%>-->
<header class="header">
    <img src="../images/icons/user_have_not_avatar.svg" alt="" class="header_img icon">
    <div class="header_title">
        <p class="header_title-login" id="login_title"><%- login %></p>
        <p class="header_title-date" id="dateOutput">НД, 18 грудня</p>
    </div>
    <img src="../images/icons/header_arrow.svg" alt="" class="header_img-arrow icon">
</header>


